
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>League</th>
        <th>Play</th>
        <th>Price</th>
        <th>Risk</th>
        <th>To Win</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>NHL</td>
        <td>penguins@senators</td>
        <td>2.35</td>
        <td>$100.00</td>
        <td>$135.00</td>
        <td>Win</td>        
      </tr>
      <tr>
        <td>NHL</td>
        <td>penguins@senators</td>
        <td>2.35</td>
        <td>$100.00</td>
        <td>$135.00</td>
        <td>Win</td>
      </tr>
      <tr>
        <td>NHL</td>
        <td>penguins@senators</td>
        <td>2.35</td>
        <td>$100.00</td>
        <td>$135.00</td>
        <td>Win</td>
      </tr>
    </tbody>
  </table>

</div>