
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Workout Type</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Rating Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of workoutLogs">
        <td>{{ log.dateCreated}}</td>
        <td>{{ log.workoutType }}</td>
        <td>{{ log.description}}</td>
        <td><star-rating-comp [numOfStars]="3" (onClick)="onClick($event, log)" (onRatingChange)="onRatingChange($event, log)" [starType]="'icon'" [rating]='log.rating'></star-rating-comp></td>
        <td>{{ log.rating}}</td>
      </tr> 
    </tbody>
  </table>

</div>