@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

:focus {
    outline: 0;
    /* or */
    outline: none;
}



